.App {
  text-align: center;
}

.monster-list {
  margin: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-image: linear-gradient(LightBlue,DarkGreen);
  display:block;
}

.pokemon-box{
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  background: RGBA(255,255,255,0.7);
  margin: 25px 80px 200px 80px;
  padding: 15px;
  box-shadow: -5px 5px rgba(155,155,155,0.7);
}

.pokemon-name{
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #999999;
  text-align: center;
  text-transform: capitalize;
}

.pokemon-image{
  text-align:center;
  padding: 10px;
}

.pokemon-image img{
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: -5px 5px DarkGray;
}
